/* Add your CSS styling here */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: rgb(124, 31, 31);
    color: #fff;
    padding: 5px 10px 10px 10px;
    text-align: left;
}

/* footer {
    background-color: rgb(124, 31, 31);
    height: 10px
} */

#title {
    text-decoration: none;
    color: white;
}

nav {
    background-color: #6e1f1f;
    padding: 10px;
    text-align: center;
}

/* Add more styles for different sections */

/* Add search bar and button styles */
#search-bar {
    padding: 8px;
    margin: 10px;
    width: 200px;
    border-radius: 30px;
}

#search-button {
    padding: 8px;
    margin: 10px;
    cursor: pointer;
    border-radius: 30px;
}

/* Add navigation menu styles */
nav a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    margin: 0 8px;
    font-weight: bold;
    font-size: 16px;
}
.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 10px;
    margin: 10px;
}

.restaurant-item {
    border-radius: 5px;
    background-color: lightgray;
    width: auto;
    height: 50;
    padding: 10px;
    margin: 0px 10px 10px 0px;
}


.review-item {
    border-radius: 5px;
    background-color: lightgray;
    border-color: ligh;
    width: auto;
    height: 50px;
    padding: 10px;
    margin: 0px 10px 10px 0px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px; /* Space between items */
    font-size: 20px;
    padding-left: 2%;
    
}

a {
    text-decoration: none;
    color: #000; /* Example color */
}

.star-rating {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center; /* Centers the stars horizontally */
    font-size: 24px;
    cursor: pointer;
  }
.star-rating li {
color: #d3d3d3; /* Light grey color for empty stars */
}

.star-rating .filled {
color: #ffd700; /* Gold color for filled stars */
}

.comments-section {
margin-top: 20px;
padding-left: 1%;
}

#comment-input {
    width: 95%;
    height: 10%;
    margin-bottom: 0%;
    padding: 1%;
}

#comments-list {
    list-style-type: none;
    padding: 0;
}

.comment-item {
    background-color: #f4f4f4;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
}

